:root {
	--casi-blanco: #efe;
	--main-background: #6a8;
	--verde-selva: #1b4332;
	--texto: #2d2d2d;
	--cafe: #864;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: inter, sans-serif;
	line-height: 1.6;
	color: var(--texto);
	background-color: var(--main-background);
	padding-top: 70px;
}

/* === === CELULAR === === */
/* === HEADER === */
header {
	background-color: var(--casi-blanco);
	padding: 0.75rem 1rem;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	z-index: 100;
}

nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

#nombre {
	font-weight: 600;
	letter-spacing: 1px;
	color: var(--verde-selva);
	text-align: center;
	font-size: 0.9rem;
}

nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: center;
}

nav a {
	text-decoration: none;
	color: var(--verde-selva);
	font-size: 0.95rem;
}

#btn-nav {
	background-color: var(--verde-selva);
	color: var(--casi-blanco);
	padding: 6px 16px;
	border-radius: 50px;
}

/* === SECCIÓN 1 === */
#section1 {
	min-height: calc(100vh - 70px);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--casi-blanco);
	padding: 20px;
}

#titulo h1 {
	font-size: 2.4rem;
	font-weight: 200;
	letter-spacing: 6px;
	margin-bottom: 10px;
}

#logo {
	height: 160px;
	width: auto;
	margin: 0 auto 10px;
	display: block;
}

#section1 p {
	font-size: 0.95rem;
	max-width: 320px;
	margin: 0 auto;
}

#btn-main {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 28px;
	background-color: var(--cafe);
	color: var(--casi-blanco);
	text-decoration: none;
	border-radius: 5px;
}

/* === SECCIÓN 2 === */
#section2 {
	padding: 30px 16px;
	text-align: center;
}

#section2 h2 {
	font-size: 1.5rem;
	margin-bottom: 10px;
}

#grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	margin-top: 20px;
}

.card {
	background-color: var(--casi-blanco);
	padding: 24px;
	border-bottom: 4px solid var(--verde-selva);
}

/* === FOOTER === */
footer {
	background: var(--verde-selva);
	color: white;
	text-align: center;
	padding: 14px;
	font-size: 0.8rem;
}

/* === === TABLET === === */
@media (min-width: 768px) {
	nav {
		flex-direction: row;
		justify-content: space-between;
	}
	nav ul {
		flex-direction: row;
		gap: 20px;
	}
	#titulo h1 {
		font-size: 3.5rem;
		letter-spacing: 14px;
	}
	#logo {
		height: 220px;
	}
	#grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* === === COMPUTADORA === === */
@media (min-width: 1024px) {
	header {
		padding: 1rem 5%;
	}
	#titulo h1 {
		font-size: 5em;
		letter-spacing: 30px;
	}
	#logo {
		height: 300px;
	}
	#section2 {
		padding: 40px 10%;
	}
	#grid {
		grid-template-columns: repeat(3, 1fr);
	}
	.card:hover {
		transition: 0.3s;
		transform: translateY(-10px);
		cursor: pointer;
	}
}
